<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/dist/semantic.min.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/dist/semantic.css"> --}}
    {{!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> --}}
    {{!-- <script src="/stylesheets/dist/components/dropdown.js"></script> --}}
    {{!-- <script src="/stylesheets/dist/semantic.min.js"></script> --}}
    
    <title>Welcome!</title>
</head>

<body>
    {{{body}}}
</body>

</html>