<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script type="text/javascript">
        $(document).ready(function () {

            var content = [
                {
                    title: 'Nike'
                },
                { title: 'Vans' },

                { title: 'Adidas' },

                { title: 'Puma' },

                { title: 'Converse' },

                { title: 'Gucci' },
            ];

            $('.ui.search')
                .search({
                    type: 'standard',
                    source: content,
                    searchFields: ['title'],
                });

        });
    </script>

    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>
    <style>
        body {
            background-color: rgba(22, 21, 21, 0.87);
            background-image: url(/media/sneaker.jpeg);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: center;
        }
    </style>
    <title>Welcome!</title>
</head>

<body>
    {{{body}}}
</body>

</html>